.vscode
2.Firmware/.vscode
2.Firmware/USER/.vscode
2.Firmware/OBJ
2.Firmware/USER/EasyFOC.uvguix.11846
2.Firmware/USER/EasyFOC.uvoptx
2.Firmware/USER/.vscode/keil-assistant.log
2.Firmware/USER/.vscode/settings.json
2.Firmware/USER/.vscode/uv4.log
2.Firmware/USER/.vscode/uv4.log.lock